## EXPLORING DIFFERENT CELLS IN JUPYTER NOTEBOOK
### TASK#03

## 1.Code cell 
 First is code cell,in which we write code and it displays the output on screen

## 2.Markdown
 Second is Markdown headings.Headings can be of various levels

# Level#01 Heading
## Level#02 Heading
### Level#03 Heading
#### Level#03 Heading

## 3.Adding List
Markdown heading can also be used to adding list
ADDING LIST WITH NUMBERS
1. List#01
     1. Sublist#01 inside List#01
     2. Sublist#02  inside List#01
2. List#02
      1. Sublist#01 inside List#02
      2. Sublist#02 inside List#03

ADDING LIST WITH BULLETS
(use hyphen before list name)
- List#03
    - Sublist#01 inside List#03
    - Sublist#02 inside List#03

## 4.Adding links
For adding links use round brackets
(https://github.com/malaika971/Data_Science_G2_BWF_Malaika_Ahmed)

## 5.Creating Table 


| Sr No. | Name   | Semester | Discipline   | University |
|--------|--------|----------|--------------|------------|
| 01     | Fatimah| 8th      | Data Science | NUST       |
| 02     | Aminah | 6th      | AI           | FAST       |
| 03     | Ayesha | 2nd      | CS           | LUMS  s   |
|

## 6.Adding Equation

\begin{equation}
x^2=y^2+z^2
\end{equation}

[](DS.PNG)